<head>
<p class="welcome">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 	Events
</p>
</head>

<body>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<details id="wing-night">
  <summary>Wing Night!</summary>
  <p>Buy 6 Wings, Get 6 Free!</br> $3 pints of Bud Lite, Miller Lite, and Yuengling!
 </p>
</details>

<details id="kids-day">
	<summary>Kids Day!</summary>
	<p>Children under 8 eat for free with purchase of adult meal!</p>
</details>

<details id="lady-night">
	<summary>Ladies Night!</summary>
	<p>$4 House Margaritas & Martinis</br>
	1/2 Price Glass of Wine</br>
	Prince Azariyah Performs Every Thursday Night!</br>
	1/2 Price Appetizers From 5-7 Every Thursday!</br>
	</p>
</details>
</body>