<p class="welcome">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 	Events
</p>


	<h3 class="ladies">Wednesdays</h3>
		<h1> Outspoken Trivia @ 7:30 PM</h1>

	<h3 class="ladies">Thursdays</h3>
		 	<h1> Ladies Night! 
 			
 			</br> $4 House Margaritas & Martinis
 			
 			</br> $2 Off Premium Margaritas & Martinis
 			
 			</br> 1/2 Price Glass of Wine
 			</h1>
 			 <h1>1/2 Price Appetizers From 4-6 Every Thursday!
 			
 			</h1>

 	<h3 class="ladies"> Fridays </h3>
 		<h1> This Friday, August 5th, Music by Kevin Wyglad!</h1>
