<body>

	<p class="welcome"> 	
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 Welcome<p>

 <table style="">

 	<td class="hours">
 		<h2> Store Hours</h2>
 			<h3> Sunday - Thrusday 12PM - 12AM</h3>
 			<h3> Friday & Saturday 10AM - 2AM</h3>
 	</td>

<td>
 <h2> 1234 Highway 92<br>Woodstock, Ga 30017</h2>
 <h2> (770) 720 1058</h2>
</td>

<td class="picfront">
	<h1 class="front"> Picture of the front of the building</h1>
</td>

<h3> We are a family owned and operated family bar and grill dedicated to great food and great service.</h3>

	</table>



</body>