<body>


	<p class="welcome"> 	
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 		Welcome
 	</p>

 	<h2> We create mouth watering dishes hand crafted to order from high quality ingredients. </h2>

 <table style="">

		<td class="hours">
 			<h2> Store Hours
 			</h2>
 				<h2> Sun - Thur 11AM - 11PM
 				</h2>
 				<h2> Fri & Sat 11AM - 1:30AM
 				</h2>
 		  		<div id= "google-maps">
 		  			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.273351323389!2d-84.470526084784!3d34.08813718059626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f56dba42e885e9%3A0x3e5e188850e4268e!2s300+Village+Center+Dr+%23101%2C+Woodstock%2C+GA+30188!5e0!3m2!1sen!2sus!4v1465430335543" 
 		    		width="350" 
 		  			height="350" 
 		  			frameborder="0" style="border:0" allowfullscreen>
 		  			</iframe>
 		  		</div>

		</td>
		<td>
 			<h2><a href="https://www.google.com/maps/place/300+Village+Center+Dr+%23101,+Woodstock,+GA+30188/@34.0881372,-84.4705261,17z/data=!3m1!4b1!4m5!3m4!1s0x88f56dba42e885e9:0x3e5e188850e4268e!8m2!3d34.0881372!4d-84.4683374"> 300 Village center Dr. Suite 101<br> Woodstock Ga 30188</a>
			</h2>
 			<h2>
 				<button type="button" class="btn btn-default btn-lg">
 	  			<a href=tel:"6782478921">678-247-8921
 	  			</a>
 		 	  </button>
 			</h2>
 			<div id="front"> <%= image_tag('hello-front.jpg', 
 			:height => 350, 
 			:width => 500,
 			 :alt => 'x') %>
 
			</div>
		</td>
		</table>
</body>