<p class="welcome">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	Menu
</p>

<body>
		<div id="col">
			<h1 class="apps">HELLO AGAIN STARTERS
			</h1>
				<h3> Pepper Shooters
				</h3>
					<h4> Cherry Peppers stuffed with Prosciutto & Provolone
					</h4>
				<h3> Meat & Cheese Pick Tray
				</h3>
					<h4> Pepperoni & Assorted Cheeses with mustard dip
					</h4>
				<h3> Veggie Pick Tray
				</h3>
					<h4> Fresh Veggies with Ranch Dressing
					</h4>
				<h3> Jalapeno Poppers
				</h3>
					<h4> Jalapeno peppers with cheddar cheese, breaded and fried
					</h4>
				<h3> Fried Pickles
				</h3>
					<h3> Fried Okra
					</h3>
				<h3> Fried Green Beans
				</h3>
					<h4> w/ Spicy Ranch
					</h4>
					<h3> Mozzarella Sticks
					</h3>
						<h4> w/ Marinara dipping sauce
						</h4>
					<h3> French Fries
					</h3>
						<h4> w/ gravy and scamutz
						</h4>
							<h5> Fries covered with melted scamutz cheese and gravy
							</h5>
					<h3> Black & Tan Battered Onion Rings
					</h3>

		<h1 class="apps"> SOUPS
		</h1>
			<h3> French Onion
			</h3>
				<h4> Caramelized onions, deglazed with apple jack brandy, toasted baguette and two cheeses baked to perfection
				</h4>
			<h3> Loaded Baked Potato
			</h3>
				<h4> Creamy cheddar and red skin potato soup topped with cheddar cheese, bacon and scallions
				</h4>
		
		<h1 class="apps"> BURGERS 8 OZ.</h1>
				<h4> *All Burgers come with Onion, Lettuce, Tomato & Chips & Pickle Spear

			<h3> Cheeseburger
			</h3>
				<h4> 8 oz. Choice Beef burger cooked to your liking and topped with choice of cheese
				</h4>
			<h3> Bacon Cheeseburger
			</h3>
				<h4> 8 oz. Choice Beef burger cooked to your liking and topped with bacon and choice of cheese
				</h4>
			<h3> Hello Again Black & Tan Burger
			</h3>
				<h4> 8 oz. Choice Beef burger cooked to your liking, topped with choice of cheese and Black and Tan Beer battered onion ringsw/ side of Black & Tan aioli
				</h4>

		<h1 class="apps"> WRAPS
		</h1>

				<h4> *All Wraps are served with Chips & Pickle spear
				</h4>
			<h3> Turkey Wrap
			</h3>
				<h4> Fresh baked turkey breast with lettuce, tomato, cheese
				</h4>
			<h3> Chicken Caesar Wrap
			</h3>
				<h4> Romaine lettuce, house made dressing, garlic croutons and parmesan with grilled chicken
				</h4>
			<h3> Buffalo Chicken Wrap
			</h3>
				<h4> Grilled chicken tossed in Buffalo sauce topped with lettuce, tomato and blue cheese or ranch dressing
				</h4>
			<h3> Tuna Wrap
			</h3>
				<h4> Fresh made tuna salad on premises, topped w/ onion, lettuce, and tomato
				</h4>

		<h1 class="apps"> WINGS AND THINGS</h1>

			<h3> Hello Again Buffalo Wings
			</h3>
				<h4> Fresh chicken wings fried to perfection and topped with your choice of signature sauce, celery and blue cheese
				</h4>
			<h3> Boneless Wings
			</h3>
				<h4> Boneless chicken breast, breaded and deep fried and tossed in one of our Signature sauces
				</h4>
			<h3> Grilled Boneless Wings
			</h3>
				<h4> Skinless, boneless chicken breast grilled to perfection and tossed in one of our Signature sauces
				</h4>
			<h3> Chicken Fingers and Fries
			</h3>
				<h4> Potato Chip crusted Chicken fingers, with French fries or tater tots
				</h4>
			<h3> Fish and Chips
			</h3>
				<h4> Beer battered fish with a malt vinegar aioli and served with French fries or tater tots
				</h4>
		<h1 class="apps"> KIDS MENU</h1>

			<h3> Kids Chicken Fingers w/ French Fries or Tater Tots
			</h3>
			<h3> Grilled Cheese Sandwich
			</h3>
			<h3> Kids Sandwich with French Fries or Tater Tots
			</h3>
				<h4> Choice of Ham, Turkey, or Roast Beef
				</h4>
			<h3> Kids Hot Dog
			</h3>


	</div>


	<div id="column2"><h1 class="apps"> BETWEEN THE SLICES<H1>
			<h4> *All Sandwiches coem with chips & Pickle Spear

		<h3> Grilled Smashed Meatball
		</h3>
			<h4> Homemade meatballs simmered in tomato sauce, smashed and topped with melted provolone cheese between 	2 slices of grilled Italian bread
			</h4>
		<h3> Grilled Sausage (HOT)
		</h3>
			<h4> Hot Italian sausage cooked to perfection and topped with sautéd onions & peppers and melted provolone cheese between 2 slices of 	grilled Italian bread
			</h4>
		<h3> Grilled Rueben
		</h3>
			<h4> Pastrami, sour kraut, Swiss cheese and Russian dressing piled high between 2 slices of grilled rye bread
			</h4>
		<h3> Tuna Melt
		</h3>
			<h4> Fresh made tuna salad topped with your choice of cheese and grilled between 2 slices of white or wheat bread
			</h4>
		<h3> Turkey, Ham, or Roast Beef Club
		</h3>
			<h4> Double decker sandwich with your choice of Turkey, ham or roast beef, lettuce, tomato, bacon and mayo, on your choice of white, wheat or rye toast
			</h4>
		<h3> Chicken Salad Sandwich
		</h3>
			<h4> White meat chicken made fresh on premises, served with onion, letrtuce, and tomato, on your choice of white, wheat, or rye toast

		<h1 class="apps"> HOAGIES </h1>
			<h4> All Hoagis come with chips & Pickle Spear
			</h4>

			<h3> Cold Cut
			</h3>
				<h4> Ham, hard salami, white American cheese piled high on fresh baked hoagie roll topped with 	lettuce, tomato, onions and hot pepper relish w/ a dash of spices
				</h4>
			<h3> Cheese Steak
			</h3>
				<h4> Prime choice shaved steak topped with cheese, caramelized onions.  Add sweat or hot peppers or mushrooms
				</h4>
			<h3> Chicken Cheese Steak
			</h3>
				<h4> Pemium chicken steak grilled to perfection and topped with melted cheese and caramelized onions. Add sweet or hot peppers or mushrooms
				</h4>
			<h3> French Dip
			</h3>
				<h4> Prime choice roast beef piled high and topped with melted cheese with a side of au-jus for 	dipping
				</h4>
			<h3> Meatball and Scamutz
			</h3>
				<h4> Homemade meatballs simmered in sauce and topped with melted provolone cheese
				</h4>
			<h3> Sausage and Pepper
			</h3>
				<h4> Hot Italian sausage with sautéed peppers and onions w/ melted provolone cheese
				</h4>
			<h3> Chicken Parmasen
			</h3>
				<h4> Italian Breaded Chicken Breast with melted scamutz cheese, and marinara

		<h1 class="apps"> FOR THE FITNESS FOLKS</h1>
		
			<h3> Super Food Salad
			</h3>
				<h4> Fresh romaine, kale, and iceberg lettuce, broccoli, cauliflower, brussel sprouts. Golden beets, carrots, and red cabbage. Tossed in light raspberry vinaigrette
				</h4>
			<h3> Classic Caesar Salad
			</h3>
				<h4> Romaine lettuce, house made dressing, garlic croutons and parmesan
				</h4>
			<h3> Buffalo Chicken Salad
			</h3>
				<h4> Fresh greens topped with grilled chicken breast in our signature Buffalo sauce, celery, tomatoes, and bleu cheese dressing
				</h4>
			<h3> Hello Again Antipasto
			</h3>
				<h4> Tossed romaine and iceberg lettuce with tomatoes, cheese, ham, salami, pepperoni, olives, peppers, onions with Red Wine Vinegar & blended Olive Oil
				</h4>
			<h3> Hello Again Steak Antipasto
			</h3>
				<h4> Tossed romaine and iceberg lettuce with tomatoes, peppers, and onions, topped with filet mingnon and Red Wine Vinegar & blended Olive Oil
				</h4>


		<h1 class="apps"> SIDE ORDERS</h1>
	
			<h3> French Fries
			</h3>
			<h3> French Fries with gravy and scamutz
			</h3>
			<h3> Tater Tots
			</h3>
			<h3> Potato Salad
			</h3>
			<h3> Coleslaw
			</h3>


		<h1 class="apps"> BEVERAGES
		</h1>
		
			<h2> Coke, Sprite, Coke Zero, Diet Coke, Pibb, Lemonade, Mellow Yello, Birch Beer, Sweet Tea, Unsweet Tea, Coffee,Decaf Coffee
			</h2>
		</div>
</body>