<body>
<table style="width:100%">
	<td class="column2 ">
	<h1 class="apps">HELLO AGAIN STARTERS</h1>
		<h3> Pepper Shooters </h3>
			<h4> Cherry Peppers stuffed with Prosciutto & Provolone</h4>
		<h3> Meat & Cheese Pick Tray</h3>
			<h4> Pepperoni & Cheese with mustard dip</h4>
		<h3> Veggie Pick Tray</h3>
			<h4> Fresh Veggies with Ranch Dressing</h4>
		<h3> Jalapeno Poppers</h3>
			<h4> Jalapeno peppers with cheddar cheese, breaded and fried</h4>
		<h3> Fried Pickles</h3>
			<h3> Fried Okra</h3>
		<h3> Fried Green Beans</h3>
			<h4> Or</h4>
	<h3> The Trifecta</h3>
		<h3> French Fries w/ gravy and scamutz</h3>
			<h4> Fries covered with melted scamutz cheese and gravy</h4>

	<h1 class="apps"> SOUPS </h1>
		<h3> French Onion</h3>
			<h4> Caramelized onions, deglazed with apple jack brandy, toasted baguette and two cheeses baked to perfection</h4>
		<h3> Loaded Baked Potato</h3>
			<h4> Creamy cheddar and red skin potato soup topped with cheddar cheese, bacon and scallions</h4>

	<h1 class="apps"> SALADS</h1>
		<h3> Classic Caesar   Add Chicken $4 </h3>
			<h4> Romaine lettuce, house made dressing, garlic croutons and parmesan</h4>
		<h3> Buffalo Chicken Salad</h3>
			<h4> Fresh greens topped with grilled chicken breast in our signature buffalo sauce, olives, celery, tomatoes and blue cheese dressing</h4>
		<h3> Hello Again Antipasto</h3>
			<h4> Tossed romaine and iceberg lettuce with tomatoes, cheese ham, salami, pepperoni, olives, peppers, onions with house vinaigrette</h4>
		<h3> Hello Again Steak Antipasto</h3>
			<h4> Tossed romaine and iceberg lettuce with tomatoes, olives, peppers and onions topped with filet mingnon and house vinaigrette</h4>

	<h1 class="apps"> WRAPS</h1>
		<h3> Turkey Wrap</h3>
			<h4> Fresh baked turkey breast with lettuce, tomato, cheese</h4>
		<h3> Chicken Caesar Wrap</h3>
			<h4> Romaine lettuce, house made dressing, garlic croutons and parmesan with grilled chicken</h4>
		<h3> Buffalo Chicken Wrap</h3>
			<h4> Grilled chicken tossed in Buffalo sauce topped with lettuce, tomato and blue cheese or ranch dressing</h4>
		<h3> Tuna Wrap</h3>
			<h4> Solid white Albacore tuna mixed with mayo.  Lettuce and tomato</h4>
		<h1 class="apps"> BURGERS 8 OZ.</h1>

		<h3> Hamburger</h3>
			<h4> 8oz. Choice Beef burger cooked to your liking</h4>
		<h3> Cheeseburger</h3>
			<h4> 8oz. Choice Beef burger cooked to your liking and topped with choice of cheese</h4>
		<h3> Bacon Cheeseburger</h3>
			<h4> 8oz. Choice Beef burger cooked to your liking and topped with bacon and choice of cheese</h4>
		<h3> Hello Again Black & Tan Burger</h3>
			<h4> 8 oz. Choice Beef burger cooked to your liking and topped with choice of cheese and Black & Tan Beer battered onion rings</h4>

	<h1 class="apps"> WINGS AND THINGS</h1>
		<h3> Hello Again Buffalo Wings       6 for $         12 for $</h3>
			<h4> Jumbo chicken wings fried to perfection and topped with your choice of signature sauce, celery and blue cheese</h4>
		<h3> Chicken Fingers and Fries</h3>
			<h4> Chicken fingers with French fries or tater tots</h4>
		<h3> Fish and Chips</h3>
			<h4> Beer battered fish with a malt vinegar aioli and served with French fries or tater tots</h4>
		<h3> Boneless Wings</h3>
			<h4> Boneless chicken breast, breaded and deep fried and tossed in one of our Signature sauces</h4>
		<h3> Grilled Boneless Wings</h3>
			<h4> Skinless, boneless chicken breast grilled to perfection and tossed in one of our Signature sauces</h4>

	</td>


	<td class="column"><h1 class="apps"> BETWEEN THE SLICES<H1>
		<h3> B.L.T.<h3>
			<h4> Bacon, Lettuce and tomato with mayo on your choice of bread on toast (white, wheat, rye)</h4>
		<h3> Grilled Steak and Cheese</h3>
			<h4> Prime choice shaved steak topped with melted cheese, fried onions between 2 slices of grilled Italian bread</h4>
		<h3> Grilled Smashed Meatball</h3>
			<h4> Homemade meatballs simmered in tomato sauce, smashed and topped with melted cheese between 2 slices of grilled Italian bread</h4>
		<h3> Grilled Sausage (HOT)</h3>
			<h4> Hot Italian sausage cooked to perfection and topped with melted cheese between 2 slices of grilled Italian bread</h4>
		<h3> Grilled Rueben</h3>
			<h4> Pastrami, sour kraut, Swiss cheese and Russian dressing piled high between 2 slices of grilled rye bread</h4>
		<h3> Tuna Melt</h3>
			<h4> Solid white Albacore tuna salad topped with cheese and grilled between 2 slices of bread</h4>
		<h3> Turkey, Ham, or Roast Beef Club</h3>
			<h4> Triple deck sandwich with your choice of Turkey, ham or roast beef, lettuce, tomato, bacon and mayo on your choice of white, wheat or rye toast</h4>

	<h1 class="apps"> HOAGIES </h1>
		<h3> Cold Cut</h3>
			<h4> Ham, hard salami, white American cheese piled high on fresh baked hoagie roll topped with lettuce, tomato, onions and hot pepper relish</h4>
		<h3> Cheese Steak</h3>
			<h4> Prime choice shaved steak topped with cheese, caramelized onions.  Add sweat or hot peppers or mushrooms</h4>
		<h3> Chicken Cheese Steak</h3>
			<h4> Fresh breast of chicken sautéed to perfection and topped with melted cheese and choice of toppings</h4>
		<h3> French Dip</h3>
			<h4> Prime choice roast beef piled high and topped with melted cheese with a side of a-jus for dipping</h4>
		<h3> Meatball and Scamutz</h3>
			<h4> Homemade meatballs simmered in sauce and topped with melted scamutz cheese</h4>
		<h3> Sausage & Pepper</h3>
			<h4> Hot Italian sausage with sautéed peppers and onions</h4>

	<h1 class="apps"> ON THE LIGHTER SIDE</h1>
		<h3> Super Food Salad</h3>
			<h4> Fresh baby greens, romaine and iceberg lettuce with bell pepper, cucumbers, tomatoes, dried cranberries, sliced almonds, tossed in light vinaigrette</h4>
			<h4> Add Grilled Chicken $</h4>
			<h4> Add Buffalo Chicken $</h4>

	<h1 class="apps"> KIDS MENU</h1>
		<h3> Kids chicken fingers w/ French fries or tater tots</h3>
		<h3> Peanut Butter and Jelly Sandwich (no crust)</h3>
		<h3> Grilled Cheese Sandwich</h3>
		<h3> 1/2 Sandwich with French Fries or Tater Tots</h3>
			<h4> Choice of ham, turkey, or roast beef</h4>

	<h1 class="apps"> SIDE ORDERS</h1>
		<h3> French Fries</h3>
		<h3> French Fries with gravy and scamutz</h3>
		<h3> Tater Tots</h3>
		<h3> Potato Salad</h3>
		<h3> Coleslaw</h3>
		<h3> (3) Meatballs and sauce</h3>
		<h3> (2) Hot Italian Sausage and sauce</h3>

	<h1 class="apps"> DESSERTS</h1>

	<h1 class="apps"> BEVERAGES</h1>
		<h3> Coke, Sprite, Dr. Pepper, Diet Coke, Sweet Tea
		Coffee, Decaf Coffee, Hot Tea</h3>
	</td>


</body>