@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

div.container-fluid {
	background: black;
	padding-left: 100px;
	}

p.welcome {
	padding-top: 60px;
 font: 200 130px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #FFFF33;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  background-color: #006633;
  border-style: solid;
	border-top: thick #ff0000;	
  }

td.hours {
	padding-right: 75px;
	padding-left: 25px;
}

td.picfront {
	padding-left: 50px;
}

ul.nav {
	font-size: 2em;
}

div.social {
	float: right;
	padding-right: 30px;
}

/* body */

body {
	background-color: black;
	color: white;
	padding-top: 50px;
	padding-left: 20px;
	text-align: center;
}

h1.apps {
	background-color: #006633;
	border-style: solid;
	border-top: thick #ff0000;
	color: #FFFF33;
	padding-top: 10px;
}

h3.top-line {
	padding-top: 50px;
}

td.column {
	padding-bottom: 265px;
	padding-left: 10px;
}

div.fb-like {
	padding-top: 15px;
	padding-left: 10px;
	float: right;
}

div.twitter {
	padding-top: 15px;
	float: right;
}