@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#header {
	padding-bottom: 10px;
}

#front {
	padding-top: 50px;
	padding-left: 25px;
	padding-bottom: 100px;
}

div.container-fluid {
	background: black;
	padding-left: 80px;
	}

p.welcome {
 font: 200 75px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #FFFF33;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  background-color: #006633;
  border-style: solid;
	border-top: thick #ff0000;	
  }

td.hours {
	padding-right: 75px;
	padding-left: 25px;
}

td.picfront {
	padding-left: 50px;
}

ul.nav {
	font-size: 2em;
}

div.social {
	float: right;
	padding-right: 30px;
}

/* body */

body {
	background-color: black;
	color: white;
	padding-top: 50px;
	padding-left: 20px;
	text-align: center;
}

h1.apps {
	background-color: #006633;
	border-style: solid;
	border-top: thick #ff0000;
	color: #FFFF33;
	padding-top: 10px;
}

h3 {
	text-decoration: underline;
	font-weight: bold;
}

h3.top-line {
	padding-top: 50px;
}

#col {
	float: left;
	width: 650px;
}

#column2 {
	float: right;
	width: 650px;
}

div.fb-like {
	padding-top: 15px;
	padding-left: 10px;
	float: right;
}

div.twitter {
	padding-top: 15px;
	float: right;
}

#google-maps {
	padding-top: 50px;
	padding-bottom: 100px;
}